.top{
   display: flex;
   height: auto;
   width: auto;
   justify-content: center
}

.orderTab {
   display:flex;
   flex-direction: row;
   height: auto;
   width: auto;
   justify-content: space-evenly;
}

.orderTab2 {
   display:flex;
   flex-direction: row;
   height: auto;
   width: auto;
   justify-content: space-evenly;

}

