.top{
   display: flex;
   height: auto;
   width: auto;
   justify-content: flex-start;
}

.orderTab {
   display:flex;
   flex-direction: column;
   height: auto;
   width: auto;
   justify-content: space-evenly;
}


.tableHead {
   display: flex;
   width: 100%;
   height: auto;
   justify-content: space-evenly;
   align-items: stretch;
   border-right: 1px dotted black; 
}
.tableRow {
   display: flex;
   width: 100%;
   justify-content: space-evenly;
   align-items: stretch;
   background-color: #808080;
   border-top: 1px solid black;



}

.tableHead2 {
   display: flex;
   width: 100%;
   height: auto;
   justify-content: space-evenly;
   align-items: stretch;
   background-color: #606060;
}