 .itemBoxes {
   background-color: #777777;
   width: 120px;
   height: 120px;
   margin:10px;
   color: black;
   border:black 2px solid;

    }
.innerSite {
   display:flex;
   flex-flow: flex-start;
   flex-direction: row;
   height: 100%;
   
}

