
 .itemBoxes {
    display: flex;
   background-color: #777777;
   width: 120px;
   height: 120px;
   margin:10px;
   color: black;
   border:black 2px solid;
   align-items: center;
   justify-content: center;
   max-width: 50%;
   

    }
    a:hover
    {
       background-color: #808080;
    }
.innerSite {
   display:flex;
   flex-flow: flex-start;
   flex-direction: row;
   height: 100%;
   
}

