.mainBody {
   display: flex;
   height: 100%;
   flex-direction: row;
}
.leftSide {
   display: flex;
   height: 150px;
   justify-content: flex-start;
   flex-grow: 1;

   }

 .rightSide {
   flex-grow : 2;
   height: auto;
   border: 2px solid black;
    }
    
 .itemBoxes {
   background-color: #474747;
   width: 120px;
   margin:10px;

    }
