.left-desc{
   display: flex;
   justify-content: flex-start;
   align-content: flex-start;
   flex-flow: column;
   width: auto;
   height: 100%;

}
.maintag{
   display: flex;
   align-content: center;
   justify-content: center;
   flex-direction: row;
   width: auto;
   height: auto;
   margin: 10px;
   border-bottom:solid black 1px;
}

.desctag{
   display: flex;
   width: auto;
   height: auto;
   flex-direction: row;
   height: 20px
}