.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #474747;
  height: 60px;
  padding: 20px;
  color: black;
  width: 100%;
}
.LinkColor {
  color: black;
}

.logo {
  width: 85px;
}
.active-links {
  > span {
    margin-right: 15px;
    color: black;
  }

  :global{
    :hover {
      .ui.basic.button{
        box-shadow: 0 0 0 2px #ADD8E6 inset;
        color: #ADD8E6 !important;
        background-color: #434343 !important;
      }
    }

    .ui.basic.button{
      border-radius: 16px;
      color: #ADD8E6 !important;
      box-shadow: 0 0 0 2px #ADD8E6 inset;
    }
  }
}
